nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: solid 1px black;
}

.logo {
    height: 50px;
}

.burger-menu {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.sidebar.open {
    right: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.user-icon {
    align-self: left;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.active {
    color: #6200ea !important;
}

@media (max-width: 600px) {
    .burger-menu {
        display: block;
    }
    .nav-links {
        display: none;
    }
}
